@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html.dark {
  background: #121212;
  color: white;
}

body {
  background: #f2f2f3;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

p[role="alert"] {
  color: #dc2626;
  font-size: 14px;
  margin-top: 4px;
}

h1 {
  font-weight: 600;
  font-size: 26px;
}

a,
button {
  cursor: pointer;
}

button,
button.MuiButtonBase-root {
  box-shadow: none;
  line-height: normal;
  min-width: auto;
  text-transform: none;
}

input,
.MuiInputBase-input.MuiInput-input,
.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #c6c6c6 !important;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 16px;
}

label {
  margin-bottom: 4px;
}
