@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html.dark {
  background: #121212;
  color: white;
}

body {
  background: #f2f2f3;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

a,
button {
  cursor: pointer;
}

div.MuiInputBase-root.MuiOutlinedInput-root {
  background: #fff;
  border: 1px solid #e5e7eb;
}

p[role="alert"] {
  color: #dc2626;
  font-size: 14px;
  margin-top: 4px;
}

h1 {
  font-weight: 600;
  font-size: 26px;
}
