.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-wrapper header {
  height: 64px;
  padding: 16px 24px;
}

.header-wrapper header > div > div div.menu {
  min-width: 225px;
  position: fixed;
  right: 24px;
  top: 52px;
  width: auto;
  z-index: 9999;
  border-radius: 8px;
  background: #fff;
}

html.dark .header-wrapper header > div > div div.menu {
  border: 0.5px solid #272727;
  color: #fff;
  background: #121212;
}

.menu-button-link {
  border-radius: 0 !important;
  text-align: start;
  font-weight: 400 !important;
  display: inline-block !important;
  width: 100%;
  padding: 8px 12px !important;
}
