.home-container {
  background: #fff;
  color: #000;
  overflow-y: auto;
  overflow-x: hidden;
}

.home-container .form-layout-container {
  height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;
  place-content: center;
}

.home-container .form-layout-container main {
  margin-inline: auto;
  place-items: center;
  place-content: center;
  width: min(50ch, 100%);
  padding: 12px;
  position: relative;
}

.home-container > div:first-child h1 {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: 500;
}

form.signup-form button,
form.login-form button {
  align-self: stretch;
  white-space: nowrap;
}

form.signup-form .MuiInput-input,
form.login-form .MuiInput-input {
  background: #f9fafb;
}

/* css for input with toggle */
.home-container
  .MuiFormControl-root
  .MuiInput-root.Mui-error:has(.MuiInputBase-inputAdornedEnd) {
  border: 1px solid #dc2626 !important;
}

.MuiInputBase-adornedEnd {
  background: #f9fafb !important;
}

.home-container
  .MuiFormControl-root
  .MuiInput-root.Mui-error
  .MuiInputBase-inputAdornedEnd {
  border: none;
}
