.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input {
  border: none !important;
}

li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters {
  font-size: 14px !important;
}

form.create-form .MuiFormControl-root div.Mui-error input,
form.edit-form .MuiFormControl-root div.Mui-error input,
form.signup-form .MuiFormControl-root div.Mui-error input,
form.login-form .MuiFormControl-root div.Mui-error input,
form.edit-form div.Mui-error input,
form.edit-user-form div.Mui-error input {
  border: 1px solid #dc2626 !important;
}

label + .MuiInputBase-formControl {
  margin-top: 0 !important;
}

.MuiInputBase-root.MuiOutlinedInput-root {
  font-size: 14px;
}

th.MuiTableCell-head {
  font-weight: 600 !important;
}

td.MuiTableCell-body,
th.MuiTableCell-head {
  padding: 0 !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  vertical-align: baseline;
}

td.MuiTableCell-body:not(.css-hfvc8t-MuiTableCell-root) {
  vertical-align: baseline;
  color: #7b7b7b;
}

table.MuiTable-root {
  word-break: break-word;
  overflow-x: scroll;
  table-layout: fixed;
  width: 100%;
}
