@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html.dark {
  background: #121212;
  color: white;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Overriding MUI css */
.MuiInputBase-root.MuiOutlinedInput-root {
  font-size: 14px !important;
  font-weight: 500 !important;
  border-radius: 0.25rem !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input.MuiOutlinedInput-input {
  padding: 8px 16px !important;
  font-size: 14 !important;
  font-weight: 400 !important;
}

li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters {
  font-size: 14px !important;
  font-weight: 400 !important;
}
