@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main {
  margin-inline: auto;
  width: min(150ch, 100%);
}
